<!DOCTYPE html>
<html>
  <head>
    <title>CHSDESK | <%= @title %></title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      <a href="http://lateralview.in/">Housing Society Management</a>
      is a project to Housing Scoiety office management
       <a href="http://lateralview.in/">CHSDESK</a>. 
    </p>
  </body>
</html>
