
  <h3 class="nav">
    
    <%= link_to "About |", about_path %>
    <%= link_to "Contact |", contact_path %>
    <a href="http://news.railstutorial.org/">News |</a>
    <a href="http://www.railstutorial.org/">Rails Tutorial |</a>
    
  </h3>
  
   <div class="span-5 colborder">
        <ul>
          <li><a class="quiet" href="#">Read our blog</a></li>
          <li><a class="quiet" href="#">About us</a></li>
          <li><a class="quiet" href="#">Visit the Support Forums</a></li>
          <li><a class="quiet" href="#">Submit a Bug</a></li>
          <li><a class="quiet" href="#">Sign up!</a></li>
        </ul>
      </div>
       <div class="prepend-top push-3 span-8 last">
      	       	  
	      <%= debug(params) if Rails.env.development? %>
        <span class="quiet">Copyright &copy; 2008</span> | 
        <a href="#" class="quiet">Privacy Policy</a> | 
        <a href="#" class="quiet">Security Policy</a>
 
      </div>
