<nav class="menu round medium">
    
   <%= link_to "Unit Setup  |", unitsetup_path %>
   <%= link_to "Master  |", master_path %>
   <%= link_to "Assign Members  |", assignmember_path %>
</nav>
  
   
   

  